/*
	Global classes
					*/
body {
  background-image: url("images/iphoneOL.jpg");
  background-repeat: no-repeat;
  font-family: Avenir, sans-serif;
}

#screen {
  height: 530px;
  width: 300px;
  margin: 105px 23px;
}

.menu {
  text-align: center;
  color: black;
  height: 35px;
  background-color: #dc6938;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin-top: 0px;
	margin-bottom: 0px;
}
.button {
	height: 25px;
    width: 95px;
  	background-color: #dc6938;
  	font-size: 14px;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
}

.button:hover {
	background: #eee;
	color: #555555;
}

.header h1 {
  text-align: center;
  color: #ffffff;
  background-color: #dc6938;
  font-size: 30px;
  height: 45px;
  margin-bottom: 0px;
	margin-top: 1px;
	padding-top: 5px;
	/* margin-bottom: 10px; */
	text-shadow: 2.2px 2.2px #000000;
}

.profile-img {
  width: 150px;
	margin: 0px;
	padding-left: 2px;
	padding-top: 2px;
}

.profile-info {
  float: right;
  padding-top: 20px;
	padding-left: 20px;
	font-size: 13px;
}

.profile-info li {
  padding-bottom: 2px;
}

.info {
	display: inline-block;
	margin-bottom: 10px;
}

.friend-list {
	float: right;
	font-size: 13px;
	margin-top: 10px;
	margin-right: 40px;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.badge {
  font-size: 15px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.activity {
  font-size: 13px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.section-title {
  font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 13px;
	/* color: #dc6938;
	text-shadow: 1.1px 1.1px #000000; */
}

/* ******************************************************************* */
/* Activity styling below */

.scrollable {
	margin-top: 0px;
	height: 445px;
	width: 300px;
	overflow: scroll;
	/* background-color: #ffdfd1; */
}
.scrollable_T {
	height: 115px;
	width: 108px;
	overflow: scroll;
	/* background-color: #ffdfd1; */
}

.activity-wrapper{
	width: 100%;
	height: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.activity-info{
	/* width: 50%; */ /* Don't need for now */
	font-size: 80%;
	margin-left: 13px;
	text-align: left;
	float: left;
	margin-top: 2px;
}

.activity-info ul{
	padding: 0%;
	margin: 0%;
	padding-top: 2px; /* Note: Positions for 4 lines only */
	/* vertical-align: middle; */ /* Note: Does not work?? */
}

/* blocked out unnecessary parts -ik */
.activity-image{
	/* width: 50%; */
	float: right;
	/* text-align: right; */
	margin-right: 13px;
}

.activity-image img{
	height: 100%;
	width: auto;
}

/* ******************************************************************* */
/* Goals1 section */

.goals-wrapper{
	width: 100%;
	height: 35%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	/* margin-bottom: 10px; */
}

.home-butt {
	float: left;
	margin-left: 5%;
}

.create-butt {
	float: right;
	margin-right: 5%;
}

.goals-image {
	/* width: 50px; */
	/* height: 50px; */
	float: left;
	/* text-align: right; */
	margin-top: 10.5%;
	margin-left: 12px;
	margin-right: 20px;
}
.goals-image img{
	height: 87px;
	width: auto;
}

.goals-info{
	/* width: 50%; */ /* Don't need for now */
	font-size: 80%;
	width: 280px;
	margin-right: 0px;
	padding-right: 0px;
	/* margin-left: 20px; */
}
.goals-info ul{
	padding: 0%;
	margin: 0%;
	width: 100%;
	text-align: left;
	font-size: 15px;
	padding-top: 10.5px;
	/* vertical-align: middle; */ /* Note: Does not work?? */
}

.time-bar {
	background-color: #000000;
	border-radius: 13px;
	padding: 3px;
	width: 160px;
	margin-left: 119px;
	margin-top: 1px;
}

.time-bar>div {
	background-color: #44a8d3;
	/* width: 50%; */
	height: 15px;
	border-radius: 13px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}

.progress-bar {
	background-color: #000000;
	border-radius: 13px;
	padding: 3px;
	width: 160px;
	margin-left: 119px;
	margin-top: 1px;
}

.progress-bar>div {
	background-color: #dc6938;
	/* width: 50%; */
	height: 15px;
	border-radius: 13px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}

/* ******************************************************************* */
/* Goals/Competition-Making section */

.goals-making-wrapper{
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	text-align: center;
}

.button-goal2 {
  border-radius: 10px;
  background-color: #919191;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 8px;
  width: 55%;
  transition: all 0.4s;
  cursor: pointer;
}

.button-goal2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button-goal2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  /* top: 0; */
	/* right: -20px; */
	/* margin-right: 100px; */
  transition: 0.4s;
}

.button-goal2:hover span {
  padding-right: 20px;
}

.button-goal2:hover span:after {
  opacity: 1;
  right: 0;
}

.button-goal3 {
  border-radius: 10px;
  background-color: #555555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 8px;
  width: 60%;
  transition: all 0.4s;
	cursor: pointer;
	outline: none;
	/* margin-top: 30px; */
}

.button-goal3:hover {
  background-color: #e3703f;
	/* color: rgb(60, 60, 60); */
	text-shadow: 2px 2px #000000;
}

/* Still in Goals Making */
/* Dropdown & Forms below */
.gen-text-help {
  text-align: center;
	margin:10%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 25px;
	margin-bottom: 15px;
}
.some-info {
	text-align: center;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 1px;
	font-weight: bold;
}

.inline {
	display: inline-block;
}

.dropdown {
  position: relative;
	display: inline-block;
	margin-left: 31.8px;
	margin-top: 5px;
	margin-bottom: 5px;
	outline: none;
}
.dropbtn {
  background-color: #919191;
  color: white;
	padding: 10px;
	width: 236.4px;
  font-size: 20px;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	outline: none;
}
.dropbtn:hover, .dropbtn:focus {
	background-color: #6c6c6c;
}
.dropdown {
  position: relative;
	display: inline-block;
	margin-left: 31.8px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 236.4px;
  box-shadow: 5px 5px 10px 0px #828282;
	z-index: 1; /* places .dropdown-content at the FRONT */
	text-align: center;
	overflow: auto;
}
.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.show {
	display: block;
}

.form2-styler input{
	font-size: 20px;
  text-align: center;
  height:43px;
  width:156.165; /* THIS NUMBER MUST MATCH WIDTH FOR <!-- METRIC --> */
  border: 0px solid #ffffff;
	border-radius: 7px;
	background-color: #919191;
	margin-bottom: 1px;
	color: #ffffff;
	outline: none;
}
input::placeholder{
	font-size: 20px; /* WHY IS THIS NOT WORKING??? -ik */
	color:#ffffff;
}
input:hover {
	background-color: #6c6c6c;
}

.form3-styler input{
	font-size: 20px;
  text-align: center;
  height:43px;
  width:236.4px; /* THIS NUMBER MUST MATCH WIDTH FOR <!-- METRIC --> */
  border: 0px solid #ffffff;
	border-radius: 7px;
	background-color: #919191;
	margin-bottom: 1px;
	color: #ffffff;
	outline: none;
}

/* ******************************************************************* */
/* Competitions section */

.competitions-wrapper{
	width: 100%;
	height: 40%;
	margin-top: 5px;
}

.competitions-type{
  float: left;
  padding-top: 15px;
  padding-left: 15px;
  text-align: center;
}

.competitions-date{
  float: right;
  padding-top: 15px;
  padding-right: 30px;
  text-align: center;
}

.competitions-scores{
  width: 40%;
  float: left;
  padding-top: 12px;
  padding-left: 15px;
  font-size: 20px;
  text-align: center;
}

table {
  float: right;
  margin-top: 10px;
  margin-right: 30px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  padding: 4px;
  text-align: left;
}

.competitions-dropbtn {
  background-color: #919191;
  color: white;
	padding: 10px;
	width: 200px;
  font-size: 20px;
	border: none;
	border-radius: 7px;
}

.competitions-done-wrapper{
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
  margin-bottom: 15px;
  text-align: center;
}
