/*
	Global classes
					*/
body {
  background-image: url("images/iphoneOL.jpg");
  background-repeat: no-repeat;
  font-family: Avenir, sans-serif;
}

#screen {
  height: 530px;
  width: 300px;
  margin: 105px 23px;
}

.menu {
  text-align: center;
  color: black;
  height: 35px;
  background-color: #509381;
}

.button {
	height: 25px;
    width: 95px;
  	background-color: #509381;
  	font-size: 14px;
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
}

.button:hover {background: #eee;}

.header h1 {
  text-align: center;
  color: black;
  background-color: #509381;
  font-size: 30px;
  height: 45px;
  padding-top: 2px;
  margin-top: 0px;
  margin-bottom: 1px;
}

.profile-img {
  width: 150px;
  margin: 1px;
}

.profile-info {
  float: right;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 10px;
  font-size: 13px;
}

.info {
  display: inline-block;
	padding-top: 0px;
	width: 100%;

}

.friend-list {
	float: right;
	font-size: 13px;
	margin-top: 10px;
	margin-right: 40px;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.badge {
  font-size: 15px;
	text-align: center;
	padding-top: 10px;
}

.activity {
  font-size: 13px;
	text-align: center;
	padding-top: 20px;
}

.section-title {
  font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}
/* Activity styling below
*/

.activity-wrapper{
	width: 100%;
	height: 18%;
	box-shadow: 0px 1px;
}

.activity-info{
	width: 160px;
	font-size: 80%;
	text-align: left;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}
.activity-info ul{
	padding: 0%;
	margin: 0%;
}

.activity-image{
	width:30%;
	float: right;
	text-align: right;
	padding-right: 10px;
	padding-top: 4px;
}

.activity-image img{
	height: 90%;
	width: auto;
}
