/*
	Global classes
					*/
body {
  background-image: url("images/iphoneOL.jpg");
  background-repeat: no-repeat;
  font-family: Avenir, sans-serif;
}

#screen {
  height: 530px;
  width: 300px;
  margin: 105px 23px;
}

.menu {
  text-align: center;
  color: black;
  height: 35px;
  background-color: #dc6938;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin-top: 0px;
	margin-bottom: 0px;
}
.button {
	height: 25px;
    width: 95px;
  	background-color: #dc6938;
  	font-size: 14px;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
}

.button:hover {background: #eee;}

.header h1 {
  text-align: center;
  color: #ffffff;
  background-color: #dc6938;
  font-size: 30px;
  height: 45px;
  margin-bottom: 0px;
	margin-top: 1px;
	padding-top: 5px;
	/* margin-bottom: 10px; */
	text-shadow: 2.2px 2.2px #000000;
}

.profile-img {
  width: 150px;
	margin: 0px;
	padding-left: 2px;
	padding-top: 2px;
}

.profile-info {
  float: right;
  padding-top: 20px;
	padding-left: 20px;
	font-size: 13px;
}

.profile-info li {
  padding-bottom: 2px;
}

.info {
	display: inline-block;
	margin-bottom: 10px;
}

.friend-list {
	float: right;
	font-size: 13px;
	margin-top: 10px;
	margin-right: 40px;
	padding: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.badge {
  font-size: 15px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.activity {
  font-size: 13px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.section-title {
  font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 13px;
	/* color: #dc6938;
	text-shadow: 1.1px 1.1px #000000; */
}

/* ******************************************************************* */
/* Activity styling below */

.scrollable {
	margin-top: 0px;
	height: 445px;
	width: 300px;
	overflow: scroll;
	/* background-color: #ffdfd1; */
}

.activity-wrapper{
	width: 100%;
	height: 18%;
	margin-top: 6px;
	margin-left: 0px;
	margin-bottom: 6px;
}

.activity-info{
	/* width: 50%; */ /* Don't need for now */
	font-size: 80%;
	margin-left: 12px;
	text-align: left;
	float: left;
	padding-left: 10px;
	padding-top: 0px;
}

.activity-info ul{
	padding: 0%;
	margin: 0%;
	padding-top: 2px; /* Note: Positions for 4 lines only */
	/* vertical-align: middle; */ /* Note: Does not work?? */
}

/* blocked out unnecessary parts -ik */
.activity-image{
	/* width: 50%; */
	float: right;
	/* text-align: right; */
	margin-right: 12px;
}

.activity-image img{
	height: 100%;
	width: auto;
}

/* ******************************************************************* */
/* Goals1 section */

.goals-wrapper{
	width: 100%;
	height: 35%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}

.home-butt {
	float: left;
	margin-left: 5%;
}

.create-butt {
	float: right;
	margin-right: 5%;
}

.goals-image {
	/* width: 50px; */
	/* height: 50px; */
	float: left;
	/* text-align: right; */
	margin-top: 10.5%;
	margin-left: 12px;
	margin-right: 20px;
}
.goals-image img{
	height: 87px;
	width: auto;
}

.goals-info{
	/* width: 50%; */ /* Don't need for now */
	font-size: 80%;
	width: 280px;
	margin-right: 0px;
	padding-right: 0px;
	/* margin-left: 20px; */
}
.goals-info ul{
	padding: 0%;
	margin: 0%;
	width: 100%;
	text-align: left;
	font-size: 15px;
	padding-top: 10.5px;
	/* vertical-align: middle; */ /* Note: Does not work?? */
}

.time-bar {
	background-color: #000000;
	border-radius: 13px;
	padding: 3px;
	width: 160px;
	margin-left: 119px;
	margin-top: 1px;
}

.time-bar>div {
	background-color: #3396c1;
	/* width: 50%; */
	height: 15px;
	border-radius: 13px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}

.progress-bar {
	background-color: #000000;
	border-radius: 13px;
	padding: 3px;
	width: 160px;
	margin-left: 119px;
	margin-top: 1px;
}

.progress-bar>div {
	background-color: #b83223;
	/* width: 50%; */
	height: 15px;
	border-radius: 13px;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
}

/* ******************************************************************* */
/* Goals1 section */

.goals-making-wrapper{
	width: 100%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	text-align: center;
}

.button-goal2 {
  border-radius: 10px;
  background-color: #919191;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 8px;
  width: 55%;
  transition: all 0.4s;
  cursor: pointer;
}

.button-goal2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.button-goal2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  /* top: 0; */
	/* right: -20px; */
	/* margin-right: 100px; */
  transition: 0.4s;
}

.button-goal2:hover span {
  padding-right: 20px;
}

.button-goal2:hover span:after {
  opacity: 1;
  right: 0;
}

.button-goal3 {
  border-radius: 10px;
  background-color: #686868;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 8px;
  width: 70%;
  transition: all 0.4s;
	cursor: pointer;
	margin-top: 30px;
}

.button-goal3:hover {
  background-color: #d2d2d2;
  color: rgb(60, 60, 60);
}

/* keyboard_backspace */

/* Form Styling Below */

.gen-text-help{
  text-align: center;
  margin:10%;
}

.form-parent-wrapper{
  align-content: center;
}

.form-wrapper{
  height: 50%;
  width: 80%;
  text-align: left;
  margin-left: 22%;
}
.form-styler{
  height: 90%;
  width: 100%;
  font-size: 150%;
}
.form-styler input{
  text-align: center;
  height:25%;
  width:70%;
  margin-top:4%;
  border: 2px solid;
  border-radius: 5%;
}
#units{
  text-align: center;
  height:22%;
  width:15%;
}
#form-submit{
  text-align: center;
  height:20%;
  width:50%;
  margin-left: 10%;

}

input,
input::-webkit-input-placeholder {
    font-size: 80%;
}
